Resources:
  ElastiCache:
    Type: AWS::ElastiCache::CacheCluster
    Properties:
      CacheNodeType: "cache.t2.small"
      NumCacheNodes: 1
      Engine: 'redis'
      CacheSecurityGroupNames:
        - Ref: CacheSecurityGroup
  CacheSecurityGroup:
    Type: AWS::ElastiCache::SecurityGroup
    Properties:
      Description: "Lock cache down to webserver access only"
  CacheSecurityGroupIngress:
    Type: AWS::ElastiCache::SecurityGroupIngress
    Properties:
      CacheSecurityGroupName: 
        Ref: CacheSecurityGroup
      EC2SecurityGroupName:
        Ref: AWSEBSecurityGroup

option_settings:
  aws:elasticbeanstalk:application:environment:
    REDIS_ENDPOINT: '`{ "Fn::GetAtt" : [ "ElastiCache", "RedisEndpoint.Address" ] }`'
  aws:elasticbeanstalk:application:environment:
    REDIS_PORT: '`{ "Fn::GetAtt" : [ "ElastiCache", "RedisEndpoint.Port" ] }`'
